body{
    background: rgb(194, 194, 199);
}

.striker {
    text-decoration: line-through;
}

.navbar-brand{
    font-family: 'Franklin Gothic Medium' , cursive;
    /* font-family: 'Arial' , cursive; */
}
.column {
    float: right;
    width: 100%;
}

.button {
    background-color: rgb(53, 53, 54); /* Green */
    border: none;
    border-radius: 0.2em;
    color: white;
    padding: 1px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

