{% extends 'base.html' %}

{% block content %}
    {% if item %}

    <form class="form-inline my-2 my-lg-1" method="POST">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="{{ item.item }}"
        value="{{ item.item }}" aria-label="Search" name="item">
        <input type="hidden" value="{{ item.completed }}" name="completed"><br>

        <input class="form-control mr-sm-2" type="search" placeholder="{{ item.asignee }}"
        value="{{ item.asignee }}" aria-label="Search" name="asignee">
        <input type="hidden" value="{{ item.completed }}" name="completed"><br>

        <input class="form-control mr-sm-2" type="date" placeholder="{{ item.deadline }}"
        value="{{ item.deadline }}" aria-label="Search" name="deadline">
        <input type="hidden" value="{{ item.completed }}" name="completed"><br>

        <button class="btn btn-outline-secondary my-2 my-sm-0" type="Submit">Edit item</button>
    </form>

    {% endif %}
{% endblock %}

